
<div class="container">
    <h1 class="browser-games-title text-center">Big Rocket Browser Games</h1>

    <div class="row">
        <% @browserGames.each do |bGame| %>
            <div class="col-xs-12 col-sm-4">
                <div class="game-container">
                    <%= link_to image_tag( bGame.screenshot.thumb, alt: "#{bGame.title} screenshot", class: "img-responsive center-block"), games_browser_game_path(bGame.slug) %>
                    <h3 class="text-center"><%= bGame.title %></h3>
                    <p><%= bGame.description %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>