<% require 'find' %>

<div class="container">
  <div class="row">
    <h1 class="text-center game-title"><%= @browserGame.title %></h1>
  </div>

  <% content_for :game do %>
    <% Dir["public/browserGames/#{@browserGame.slug}/*.js"].each do |file| %>
      <% next if file.match?(/main.js/) %>
      <% arr = file.split("/") %>
      <script src="<%= "/browserGames/#{@browserGame.slug}/#{arr.last}" %>"></script>
    <% end %>
      <script src="<%= "/browserGames/#{@browserGame.slug}/main.js" %>"></script>
  <% end %>

  
  

  