<div class="sidebar">
  <%= render '/admin/admin/sidemenu'%>
</div>

<div class="main-admin-content">
  <div class="admin-container">
    <h2 class="text-center">Create New Portfolio Site</h2>

    <% if flash[:alert] %>
      <div class="error-alert"><%= flash[:alert] %>
    <% end %>
    <%= render "admin/portfolio/form" %>
  </div>
</div>