<div class="main-admin-content">
  <div class="admin-container">
    <h2 class="text-center admin-page-header">Create New Portfolio Site</h2>

    <% if flash[:alert] %>
      <div class="error-alert"><%= flash[:alert] %>
    <% end %>
    <%= render "admin/portfolio/newForm" %>
  </div>
</div>