
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <% @mobileGames.each do |mGame| %>
                <%= display game image %>
                <%= display game title %>
                <%= display game description %>
            <% end %>
        </div>
    </div>
</div>