

<div class="container">
  <div class="row">
    <p>Input a carousel here with the slider images.</p>
  </div>
  <div class="row">
    <p>game title</p>
    <p>game description</p>
    <p>game features</p>
  </div>
</div>