<div class="main-admin-content">
  <div class="admin-container">
    <h2 class="text-center">Edit Post</h2>

    <% if flash[:alert] %>
      <div class="error-alert"><%= flash[:alert] %>
    <% end %>
    <%= render "admin/posts/editForm" %>
  </div>
</div>