<div class="sidebar">
  <%= render '/admin/admin/sidemenu'%>
</div>

<div class="main-admin-content">
  <div class="admin-container">
    show a table here with all of the posts so I can choose one to view, edit, or remove.
  </div>
</div>