<%= image_tag "/uploads/images/content_logo_hires.png", alt: "Big Rocket Games Logo", class: "main-logo" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 about-page-content">
      <p>This company was started in January 2015 as a small mobile/web game development company. It was started as a dream and from that dream was born this reality. This reality was brought forth not only to fulfill my own dreams, but to show others that your dreams can be achieved through enough hard work and dedication.</p>
      <p></p>
    </div>
  </div>
</div>