<div class="container">
  <p>This company was started in January 2015 as a small mobile/web game development company of only one person. It was started as a dream and from that dream was born this reality. This reality was brought forth not only to fulfill my own dreams, but to show others that your dreams can be achieved through enough hard work and dedication.</p>

  <p>Everything will be done in our power to produce games and apps that you would want to have and enjoy playing. We have a passion for learning and for fun and we will input those passions into our games. We want our games to be simple and fun. Some of our games will be educational based and some will simply be games to give your brain a break from the struggles of the day. As someone who works a full time job and then produces these games, I know that taking a break at the end of the day (or even on lunch), can be just what you need to get through your day and on to the next.</p>
</div>