<%= image_tag "/uploads/images/content_logo_hires.png", alt: "Big Rocket Games Logo", class: "main-logo" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 contact-page-content">
      <p>Set this up so that people may contact us.  Read up on action mailer to get this to work.</p>
    </div>
  </div>
</div>