<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 home-page-content">
      <p>Welcome to the completely redone site from the ground up using Ruby on Rails.  At Big Rocket Games we strive to make our fun, fun for you.</p>
      <p>So come on in and check out our <%= link_to 'blog', blog_home_path, class: "site-link" %>, take a look at our <%= link_to 'browser games', games_browser_games_path, class: "site-link" %>, our <%= link_to 'mobile games', games_mobile_games_path, class: "site-link" %>, or our <%= link_to 'web portfolio', portfolio_index_path, class: "site-link" %>.</p>
    </div>
  </div>
</div>