/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $primary-red: #dc143c;
 $black-text: #000;

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/variables";

// body setting to adjust for sticky navbar
  body {
    padding-top: 60px;
  }

//  navbar settings
  .navbar-fixed-top {
    background-color: #ccc;
  }

  .navbar-default a.navbar-brand, .navbar-default a.navbar-brand:hover {
    color: $black-text;
  }

  .nav {
    li {
      a {
        color: $black-text !important;
      }
    }
  }

  .navbar-nav {
    li.active {
      a {
        background-color: $primary-red !important;
      }
    }
  }

  li.group-label {
    padding-left: 10px;
  }

  // footer settings
  footer {
    clear: both;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    color: $primary-red;
  }

  footer {
    .container-fluid {
      background-color: #ccc;
    }
  }

  footer {
    p {
      padding-top: 8px;
      font-weight: 600;
    }
  }

  // Admin pages
  .sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 40px;
    width: 15%;
    padding: 10px;
    margin-top: -10px;
    background-color: black;
  }

  .main-admin-content {
    width: 85%;
    margin-top: -10px;
    margin-bottom: 40px;
    float: right;
    background-color: blue;
    padding: 15px;
  }

  .admin-link {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
  }