$primary-red: #dc143c;
$black-text: #000;
$admin-header-text-color: #81fff9;

.blog-title {
  font-weight: bolder;
  color: $primary-red;
  font-size: 44px;
}

.blog-container {
  background-color: white;
}

div.blog-post-container {
  padding: 15px 30px;
  margin-bottom: 10px;
}

div.post-comment-container {
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment-title {
  margin-top: 0px;
}