$primary-red: #dc143c;
$black-text: #000;
$admin-header-text-color: #81fff9;

.blog-title {
  font-weight: bolder;
  color: $primary-red;
  font-size: 44px;
}

.blog-post-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post-comment-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment-title {
  margin-top: 0px;
}