$primary-red: #dc143c;
$black-text: #000;
$admin-header-text-color: #81fff9;

// Body settings
Body {
  padding-top: 50px;
}

Body.main {
  background: url("/uploads/images/content_blue_sky_light_clouds.jpg") center center no-repeat fixed;
  background-size: cover;
}

Body.home {
  background: url("/uploads/images/content_rocket_on_road.jpg") center center no-repeat fixed;
  background-size: cover;
}

Body.admin {
  background: url("/uploads/images/content_milky-way-2695569_1920.jpg") center center no-repeat fixed;
  background-size: cover;
  padding-top: 60px;
}