$primary-red: #dc143c;

.browser-games-title {
    color: $primary-red;
    font-weight: bolder;
  }

.game-container {
background-color: rgba(255, 255, 255, 0.6);
padding: 5px;
border-radius: 10px;
}

.game-title {
    color: $primary-red;
}