$primary-red: #dc143c;
$black-text: #000;
$admin-header-text-color: #81fff9;

// footer settings
footer {
  clear: both;
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  color: $primary-red;
}

footer {
  .container-fluid {
    background-color: #ccc;
  }
}

footer {
  p {
    padding-top: 8px;
    font-weight: 600;
  }
}