$primary-red: #dc143c;
$black-text: #000;
$admin-header-text-color: #81fff9;

.portfolio-title {
  color: $primary-red;
  font-weight: bolder;
}

.portfolio-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 10px;
}

.portfolio-site-container {
  background-color: white;
  padding-bottom: 40px;
}

.portfolio-img {
  margin-bottom: 15px;
}

.portfolio-details {
  padding: 0 30px;
}