<div>
  <%= link_to 'Admin Home', admin_home_path, class: "admin-link" %>
  <%= link_to 'View Posts List', admin_posts_path, class: "admin-link" %>
  <%= link_to 'Add New Post', new_admin_post_path, class: "admin-link" %>
</div>