<div class="sidebar">
  <%= render '/admin/admin/sidemenu'%>
</div>

<div class="main-admin-content">

  <div class="row">

  <div class="col-sm-12">
    This will be the admin homepage.

    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  </div>

  </div>
</div>